* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #a996c9;
    color:rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 800;
}

div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    max-width: 500px;


    padding: 10px;
}

#console {
    background-color: #e1b230;
}
#output {
    background-color: #304de1;
}

#randomQuestions {
    background-color: #30c0e4;
}

#randomAnswers {
    background-color: #d6e130;
}

#homework {
    background-color: #cd2baa;
}

#objectTasks {
    background-color: #304de1aa;
}